<div class="container mt-5 bg-white border rounded col-4">
    <h4 class="pt-2 pb-2">Filter</h4>
    <form class="row g-3" method="post">
        <div class="col-12" *ngFor="let input of HTMLinputs">
            <label>{{input.key}}</label>
            <div *ngIf="input.type === 'select' then thenBlock; else elseBlock"></div>
            <ng-template #thenBlock>
                <select class="form-select" aria-label="Default select example" id="inputSelect">
                <option *ngFor="let val of input.values" value={{val.value}}>{{val.name}}</option>
            </select>
            </ng-template>
            <ng-template #elseBlock>
                <input type={{input.type}} class="form-control" id="input" placeholder={{input.key}}
                multiple={{input.multiple}}>
            </ng-template>
        </div>
        <div class="col-12" style="display: flex; justify-content: space-between;">
            <button type="button" class="btn btn-secondary mb-3">Clear All</button>
            <button type="submit" class="btn btn-primary mb-3">Filter</button>
        </div>
    </form>
</div>